
<link rel="stylesheet" href="app.component.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="sidebar" *ngIf="isDisplay">
  <div class="sidenav">
    <div class="work2">Resource bank</div>
    <button class="btn3" routerLink="/new-question" routerLinkActive="active">+ NEW Questions</button>
  </div>
  <div class="container4">
    <input placeholder='Search...' class='js-search' type="text2">
    <i class="fa fa-search"></i>
  </div>
  <div class="card4"
  cdkDropList
  #secondList="cdkDropList"
  [cdkDropListData]="second"
  (cdkDropListDropped)="drop($event)">
  
    <div class="card2" *ngFor="let item of second" cdkDrag>
      {{ item }}
     
    </div>
  </div>
  
  
  
 
</div>
<div class="topnav" id="myTopnav">
    <button class="btn2" (click)="toggleDisplay()"><i class="fa fa-arrow-right"></i></button>
    <div class="work">New Worksheet</div>
    <button class="btn"  routerLink="/create-worksheet" routerLinkActive="active">Create Worksheet</button>
   
  </div>
  <div class="topnav2">
    <form>
        <label for="name" ></label>
        <input type="text" id="name" placeholder="Worksheet Name" />
        <label for="address"></label>
        <input type="text" id="address"  placeholder="Details"/>
        <select id="country" name="country">
          <option value="select">Select Class</option>
          <option value="select">select 2 </option>
          <option value="select">select 3</option>
        </select>
        <button class="button" routerLink="/add-section" routerLinkActive="active"  type="submit">
          Add Section
        </button>
      </form>
  </div>
  <h1>Section A</h1>
  
  <div class="card4"
  cdkDropList
  #firstList="cdkDropList"
  [cdkDropListData]="first"
  (cdkDropListDropped)="drop($event)">
  
    <div class="container" *ngFor="let item of first" cdkDrag>
      {{ item }}
     
    </div>
  </div>
  

